// cursor
$cursor: (pointer, text, grab, grabbing, zoom-in, zoom-out, not-allowed);

// text-decoration
$text-decoration: (
  overline: overline,
  underline: underline,
  through: line-through,
  none: none,
);
