// bg color
$bg-text-color: (
  default: #fff,
  primary: #42b983,
  info: #409eff,
  warning: #f37d03c4,
  danger: #e41818e8,
  success: #73ef35,
  black: #606266,
);

// border
$border-color: (
  default: #d7dae2,
  info: #409eff,
  warning: #f37d03c4,
  danger: #e41818e8,
  success: #73ef35,
  primary: #42b983,
);
