// bg color
$bg-text-color: (
  default: rgb(226, 218, 218),
  primary: #42b983,
  info: #409eff,
  warning: #f37d03c4,
  danger: #e41818e8,
  success: #73ef35,
  black: #1d1a1a,
  gray: rgb(119, 119, 119),
  white: white,
);

// border
$border-color: (
  default: #d7dae2,
  info: #409eff,
  warning: #f37d03c4,
  danger: #e41818e8,
  success: #73ef35,
  primary: #42b983,
  white: #fff,
);
